<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and ecosystems are summarized

# Some of the languages that data scientists use are:
1. Python
2. R
3. SQL 
4. Scala
5. Java
6. C++
7. Julia 
8. JavaScript
9. PHP
10. Go
11. Ruby
12. Visual Basic

# Some of the commonly used libraries used by data scientists include:
1. Pandas 
2. Numpy 
3. Matplotlib
4. Seaborn
5. Scikit-learn 
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas
11. Big DL
12. Ggplot2

|**Data Science Tools**|
|----------------------|
|  RStudio             |
|  Spyder              |
|  Jupyter Notebook    |
|  Anaconda            |
|  Zeppelin            |

# Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [5]:
#This will convert 200 minutes to hours by diving by 60
x=200
y=60
z= x/y
print(z)

[1] 3.333333

**Objectives**
# List popular languages of Data Science:
- Python
- R
- SQL
- Julia 
- Scala

## Author
Ndey Bintou Sanneh